<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.1/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.10.1/js/mui.min.js"></script>
    <title>Users</title>
</head>
<body>
<h1 class="mui--text-center">Users</h1>

<table class="mui-table mui-table--bordered">
    <thead>
    <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Avatar</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td><img src="" th:src='${user.avatar}' alt="avatar"/></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>